{% extends "layout.html" %}
{% block content %}

{% for post in posts %}
<body>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metedata">
                <legend class="border-bottom mb-1"><a class="mr-2" href="#" >{{ post.author }}</a></legend>
                <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }} Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero soluta perferendis vitae vel nemo. Exercitationem, vero incidunt voluptatem voluptates id nesciunt animi velit reprehenderit amet labore consequatur illo magni excepturi temporibus impedit obcaecati nemo molestias deserunt sequi dolore. Dolor molestiae repellendus incidunt, ipsum vitae ex odit laborum culpa cum reiciendis!</p>
            <p</p>
        </div>
    </article>
    {% endfor %}
    



   
</body>
{% endblock content %}
